﻿{% load static %}

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Home - SmartCity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/colors/main.css" %}" id="colors">

</head>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header Container
================================================== -->
    <header id="header-container">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="{% url 'index' %}"><img src="{%static "images/logo.png"%}" alt=""></a>
                    </div>

                    <!-- Mobile Navigation -->
                    <div class="menu-responsive">
                        <i class="fa fa-reorder menu-trigger"></i>
                    </div>

                    <!-- Main Navigation -->
                    <nav id="navigation" class="style-1">
                        <ul id="responsive">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'locationSearch'%}">Locations</a></li>


                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->

                <!-- Right Side Content / End -->
                <div class="right-side">
                    <div class="header-widget">
                        {% if not user.is_authenticated %}
                        <a href="#sign-in-dialog" class="button border with-icon sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Authentication</a>
                        {% else %}
                            <div class="user-menu">
                                <div class="user-name">{{user.username}}</div>
                                <ul>
                                    <li><a href="{% url 'user' user.username %}"><i class="sl sl-icon-user"></i> User Profile</a></li>
                                    <li><a href="{% url 'logout' %}"><i class="sl sl-icon-power"></i> Logout</a></li>
                                    <li><a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl"></i> Ticket</a></li>
                                    {% if user.is_staff %}
                                    <li><a href="{% url 'exportUsers'%}"><i class="sl"></i> Export Users</a></li>
                                    <li><a href="{% url 'exportLocations'%}"><i class="sl"></i> Export Locations</a></li>
                                    {%endif%}
                                </ul>
                            </div>
                        {% endif %}
                        <form action="{%url 'userSearch' %}" method="POST" style="float:right">
                            <div class="form-row">
                                {% csrf_token %}
                                <div class = "col">
                                    <input type="text" class="text-input" name='username' >
                                    <input type="submit" name='submit' value="Search Users" >
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
                <!-- Right Side Content / End -->
                
                {% if not user.is_authenticated %}
                <!-- Sign In Popup -->
                <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

                    <div class="small-dialog-header">
                        <h3>Sign In</h3>
                    </div>

                    <!--Tabs -->
                    <div class="sign-in-form style-1">

                        <ul class="tabs-nav">
                            <li class=""><a href="#tab1">Log In</a></li>
                            <li><a href="#tab2">Register</a></li>
							<li><a href="#tab3">Social</a></li>
                        </ul>

                        <div class="tabs-container alt">

                            <!-- Login -->
                            <div class="tab-content" id="tab1" style="display: none;">
                                
                                <form method="post" class="login" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    {{loginForm.error_message}}

                                    <p class="form-row form-row-wide">
                                        <label for="username">Username:
                                                <i class="im im-icon-Male"></i>
                                                {{loginForm.username}}
                                            </label>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <label for="password">Password:
                                                <i class="im im-icon-Lock-2"></i>
                                                {{loginForm.password}}
                                            </label>
                                    </p>

                                    <div class="form-row">
                                        <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                                        <div class="checkboxes margin-top-10">
                                            <input id="remember-me" type="checkbox" name="check">
                                            <label for="remember-me">Remember Me</label>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <!-- Register -->
                            <div class="tab-content" id="tab2" style="display: none;">

                                <form method="post" class="register" action = "{% url 'register'%}">
                                    {% csrf_token %}
                                    <p class="form-row form-row-wide">
                                        <label for="username2">Username:
                                            <i class="im im-icon-Male"></i>
                                            {{registerForm.username}}
                                        </label>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <label for="email2">Email Address:
                                            <i class="im im-icon-Mail"></i>
                                            {{registerForm.email}}
                                        </label>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <label for="password1">Password:
                                            <i class="im im-icon-Lock-2"></i>
                                            {{registerForm.password}}
                                        </label>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <label for="password2">Confirm Password:
                                            <i class="im im-icon-Lock-2"></i>
                                            {{registerForm.password}}
                                        </label>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <label for="occupation">Occupation:
                                            <i class="im im-icon-Tie-4"></i>
                                            {{registerForm.occupation}}
                                        </label>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <label for="occupation">Language:
                                            <i class="im im-icon-Tie-4"></i>
                                            {{registerForm.language}}
                                        </label>
                                    </p>

                                    <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />

                                </form>
                            </div>

							<!-- Social -->
							<div class="tab-content" id="tab3" style="display: none;">

								<form method="post" class="login" action="{% url 'login' %}">
									{% csrf_token %}
									{{loginForm.error_message}}

									<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

								</form>
							</div>

                        </div>
                    </div>
                </div>
                <!-- Sign In Popup / End -->
                {% else %}
                
            <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
                        
                <div class="small-dialog-header">
                    <h3>Sign In</h3>
                </div>
                <!--Tabs -->
                <div class="sign-in-form style-1">
                    <ul class="tabs-nav">
                        <li class=""><a href="#tab1">Ticket</a></li>
                    </ul>
                    <div class="tabs-container alt">
                        <!-- Login -->
                        <div class="tab-content" id="tab1" style="display: none;">
                            
                            <form method="post" class="login" action="{% url 'ticket' %}">
                                {% csrf_token %}
                                {{ticketForm.error_message}}
                                <p class="form-row form-row-wide">
                                    <label for="Issue">Issue:
                                        <i class="im im-icon-Male"></i>
                                        {{ticketForm.issue}}
                                    </label>
                                </p>
                                <div class="form-row">
                                    <input type="submit" class="button border margin-top-5" name="submit" value="Submit Ticket" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {%endif%}

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->
</div>

{% block content %}


{% endblock content%}
<!-- Footer
================================================== -->
<div id="footer">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <img class="footer-logo" src="{%static 'images/logo.png'%}" alt="">
                <br><br>
                <p>Language: English</p> 
            </div>

            <div class="col-md-4 col-sm-6 ">
                Our Sponsors
                <img src="{%static 'images/sponsor.png'%}" style="width:100%;">
            </div>

            <div class="col-md-3  col-sm-12">
                <h4>Contact Us</h4>
                <div class="text-widget">
                    <span>123 Fake street</span> <br>
                    Phone: <span>(123) 123-456 </span><br>
                    E-Mail:<span> <a href="#"><span class="__cf_email__" data-cfemail="751a13131c161035100d14180519105b161a18">[email&#160;protected]</span></a> </span><br>
                </div>

                <ul class="social-icons margin-top-20">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                    <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                </ul>

            </div>

        </div>

        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyrights">© 2017 SmartCity. All Rights Reserved.</div>
            </div>
        </div>

    </div>

</div>
<!-- Footer / End -->

<!-- Scripts
================================================== -->
<script>
    !function (e, t, r, n, c, h, o) { function a(e, t, r, n) { for (r = '', n = '0x' + e.substr(t, 2) | 0, t += 2; t < e.length; t += 2)r += String.fromCharCode('0x' + e.substr(t, 2) ^ n); return r } try { for (c = e.getElementsByTagName('a'), o = '/cdn-cgi/l/email-protection#', n = 0; n < c.length; n++)try { (t = (h = c[n]).href.indexOf(o)) > -1 && (h.href = 'mailto:' + a(h.href, t + o.length)) } catch (e) { } for (c = e.querySelectorAll('.__cf_email__'), n = 0; n < c.length; n++)try { (h = c[n]).parentNode.replaceChild(e.createTextNode(a(h.getAttribute('data-cfemail'), 0)), h) } catch (e) { } } catch (e) { } }(document);
</script>
<script type="text/javascript" src="{% static "scripts/jquery-2.2.0.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/jpanelmenu.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/chosen.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/slick.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/rangeslider.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/magnific-popup.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/waypoints.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/counterup.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/jquery-ui.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/tooltips.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/custom.js"%}"></script>




<!-- REVOLUTION SLIDER SCRIPT -->
<script type="text/javascript" src="{% static "scripts/themepunch.tools.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/themepunch.revolution.min.js"%}"></script>

<script type="text/javascript">
    var tpj = jQuery;
    var revapi4;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_4_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_4_1");
        } else {
            revapi4 = tpj("#rev_slider_4_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "scripts/",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style: "zeus",
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '<div class="tp-title-wrap"></div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 40,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 40,
                            v_offset: 0
                        }
                    }
                    ,
                    bullets: {
                        enable: false,
                        hide_onmobile: true,
                        hide_under: 600,
                        style: "hermes",
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 32,
                        space: 5,
                        tmp: ''
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%"
                },
                responsiveLevels: [1200, 992, 768, 480],
                visibilityLevels: [1200, 992, 768, 480],
                gridwidth: [1180, 1024, 778, 480],
                gridheight: [640, 500, 400, 300],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 25, 47, 48, 49, 50, 51, 55],
                    type: "mouse",
                },
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    });	/*ready*/
</script>


<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
	(Load Extensions only on Local File Systems !
	The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.actions.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.carousel.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.kenburn.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.layeranimation.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.migration.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.navigation.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.parallax.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.slideanims.min.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/extensions/revolution.extension.video.min.js"%}"></script>


<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWM4sry-Yw79gGqw_LsZWkZq6Cuwmdlgs&callback=initMap&sensor=true"></script>
<!-- <script type="text/javascript" src="{% static 'scripts/infobox.min.js'%}"></script> -->
<!-- <script type="text/javascript" src="{% static 'scripts/markerclusterer.js'%}"></script> -->
<!-- <script type="text/javascript" src="{% static 'scripts/maps.js'%}"></script> -->
</body>

</html>


<!-- "{% static "my_app/example.jpg" %}"  -->

<!-- <!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>SmartCity</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
        <div id="primary-nav pb-10">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <h1 class="navbar-brand" href="#">Smart City</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        {%endif%}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'locationSearch' %}">Locations</a>
                        </li>
                    </ul>
                    
                    <form class="form-inline mt-2 mt-md-0" action="{% url 'userSearch' %}" method="POST">
                            {% csrf_token %}
                        <input class="form-control mr-sm-2" name = 'username' type="text" placeholder="Search Users" aria-label="Search" data-toggle="tooltip" data-placment="bottom" title ="Leave blank to return all users">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        

    </div>
</body>

</html> -->