{% extends "base_generic.html" %} {% block content %}





<div class="container">

    <h1>{{searchUser.username}}</h1>

    <div class="row">
        <h4>Previous Locations</h4>

        {% for history in locationHistorySet %}

        <div class="style-2">
            <div class="toggle-wrap">
                <a href="{% url 'location' history.location.slug %}">
                    <h5 class="mb-1">{{history.location.name}}</h5>
                    <small>Phone: {{history.location.phone_number}}</small>
                    <p class="mb-1">{{history.location.address}}</p>
                </a>
            </div>
            
        </div>
        {% empty %}
        <h4> This user has not seen any locations yet </h4>
        {% endfor %}
    </div>

</div>






{% endblock %}