{% extends "base_generic.html" %}



{% block content %}

    <div class="container">
        <div class="row">
            <h2>Users</h2>
            <div class = "col-md-12">
                {% for user in user_list %}

                <div class="style-2">
                        <div class="toggle-wrap">
                        <a href="{% url 'user' user.username %}" class="list-group-item list-group-item-action flex-column alighn-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class = "mb-1">{{user.username}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                    

                {% empty %}
                    <ul>
                        <li><h2> There are no users </h2></li>
                        
                    </ul> 
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}