{% extends "base_generic.html" %} 
{% load static %}
{% block content %}

<!-- Revolution Slider -->
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

    <!-- 5.0.7 auto mode -->
    <div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>

            <!-- Slide  -->
            <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="1000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7"
                data-saveperformance="off">

                <!-- Background -->
                <img src="{%static 'images/slider-bg-02.jpg'%}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10"
                    class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100"
                    data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

                <!-- Caption-->
                <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-2-layer-2"
                    data-x="['center','center','center','center']" data-hoffset="['0']" data-y="['middle','middle','middle','middle']"
                    data-voffset="['0']" data-width="['640','640', 640','420','320']" data-height="auto" data-whitespace="nowrap"
                    data-transform_idle="o:1;" data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
                    data-transform_out="" data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                    data-start="1000" data-responsive_offset="on">

                    <!-- Caption Content -->
                    <div class="R_title margin-bottom-15" id="slide-2-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-20','-80']" data-fontsize="['42','36', '32','36','22']"
                        data-lineheight="['70','60','60','45','35']" data-width="['640','640', 640','420','320']" data-height="none"
                        data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                        data-transform_out="opacity:0;s:300;" data-start="600" data-splitin="none" data-splitout="none" data-basealign="slide"
                        data-responsive_offset="off" data-responsive="off" style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Welcome to SmartCity</div>

                    {% if not user.is_authenticated %}
                    <div class="caption-text">SmartCity finds you the nearest points of interest in your current city. To use SmartCity, please join
                        our community by registering your details for an account. If you're an existing member, please log
                        in.</div>
                    <a href="#sign-in-dialog" class="button medium with-icon sign-in popup-with-zoom-anim">Start Now</a>
                    {% else %}
                    <div class="caption-text">
                        SmartCity finds you the nearest points of interest in your current city.
                        Start searching today!
                    </div>
                    <a href="{% url 'locationSearch' %}" class="button medium with-icon sign-in popup-with-zoom-anim">Search Now</a>
    
                    {% endif %}
                </div>

            </li>

        </ul>
        <div class="tp-static-layers"></div>

    </div>
</div>
{% endblock %}