{% extends "base_generic.html" %}

{% block content %}

    {% if form.fType == 'register'%}
        <h1 class="display-5">Register</h1>
    {% elif form.fType == 'login' %}
        <h1 class="display-5">Login</h1>
    {% endif %}
    {% if error_message %}
        {{error_message}}
    {% endif %}

    <form action="" method="post" class="form">
        {% csrf_token %}


        {% for field in form %}
            <p>
                {{field}}
            </p>
        {% endfor %}


        <input type="submit" value="Submit">
    </form>
{% endblock %}