{% extends "base_generic.html" %} {% block content %}
{% load static %}
<div class="contact-map margin-bottom-60">

    <!-- Google Maps -->
    <div id="singleListingMap-container">
        <div id="mapLoc" style="height:450px;" data-map-icon="im im-icon-Map2"></div>
        <a href="#" id="streetView">Street View</a>
    </div>
    <!-- Google Maps / End -->

    <!-- Office -->
    <div class="address-box-container">
        <div class="address-container" data-background-image="{%static 'images/our-office.jpg'%}">
            <div class="office-address">
                <h3>{{location.name}}</h3>
                <ul>
                    {% if location.location_type == 'ID' %}
                        <li>Industry Type: {{location.industry_type}}</li>
                    {% elif location.location_type == 'CL' %}
                        <li>Departments: {{location.departments}}</li>

                    {% endif %}
                    <li>{{location.address}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Office / End -->

</div>
<div class="clearfix"></div>

<script>
    var map_id_{{location.pk}};

    function initMap(){
        geocoder = new google.maps.Geocoder();

        geocoder.geocode({'address': "{{location.address}}"}, function(results, status){
            if(status == 'OK'){
                var map_id_{{location.pk}} = new google.maps.Map(document.getElementById('mapLoc'), {
                  zoom: 15,
                  center: results[0].geometry.location
                });
            }

            else{
                alert(status);
            }
        });
    }
</script>

{% endblock %}