{% extends "base_generic.html" %}



{% block content %}
    <div class="container">
        <div class="row">
            <h2>Locations</h2>
            <div class = "col-md-12">
                <h3>Occupation</h3>
                <div class = "toggle-wrap" role = "group">
                    <a href="{% url 'locationSearch' 'ST' sCity%}">
                        <button type="button" class="button border fw margin-top-10 {% if sType == 'ST' %} active {% endif %}">Student</button>
                    </a>
                    <a href="{% url 'locationSearch' 'BN' sCity%}">
                        <button type="button" class="button border fw margin-top-10 {% if sType == 'BN' %} active {% endif %}">Business</button>
                    </a>
                    <a href="{% url 'locationSearch' 'TR' sCity%}">
                        <button type="button" class="button border fw margin-top-10 {% if sType == 'TR' %} active {% endif %}">Tourist</button>
                    </a>
                    <a href="{% url 'locationSearch' 'ALL' sCity%}">
                        <button type="button" class="button border fw margin-top-10 {% if sType == 'ALL' %} active {% endif %}">All</button>
                    </a>
                </div>
                <h3>City</h3>
                <div class = "toggle-wrap" role = "group">
                    <a href="{% url 'locationSearch' sType 'BNE' %}">
                        <button type="button" class="button border fw margin-top-10 {% if sType == 'ST' %} active {% endif %}">Brisbane</button>
                    </a>
                    <a href="{% url 'locationSearch' sType 'SYD' %}">
                        <button type="button" class="button border fw margin-top-10 {% if sType == 'BN' %} active {% endif %}">Sydney</button>
                    </a>
                    <a href="{% url 'locationSearch' sType 'MEL' %}">
                            <button type="button" class="button border fw margin-top-10 {% if sType == 'TR' %} active {% endif %}">Melbourne</button>
                    </a>
                    <a href="{% url 'locationSearch' sType 'ALL' %}">
                        <button type="button" class="button border fw margin-top-10 {% if sType == 'TR' %} active {% endif %}">All</button>
                    </a>
                </div>

                <h3>Results</h3>
                {% for location in location_list %}
                <div class="style-2">
                    <div class="toggle-wrap">
                            <a href="{% url 'location' location.slug %}">
                                <h4 class = "mb-1">{{location.name}}</h4>
                            </a>
                            <small>Phone: {{location.phone_number}}</small>
                            <div id = "map_{{location.pk}}" style = "width:40%; height:20%"></div>
                        <p class="mb-1">{{location.address}}</p>
                    </div>
                </div>

                {% empty %}
                    <ul>
                        <li><h2> There are no locations </h2></li>

                    </ul> 
                {% endfor %}

                
                
                {% if location_list != None %}
                    <script>
                    {% for location in location_list %}
                        var map_id_{{location.pk}};
                    {% endfor %}

                        function initMap(){
                            geocoder = new google.maps.Geocoder();
                        {% for location in location_list %}

                            geocoder.geocode({'address': "{{location.address}}"}, function(results, status){
                                if(status == 'OK'){
                                    var map_id_{{location.pk}} = new google.maps.Map(document.getElementById('map_{{location.pk}}'), {
                                      zoom: 15,
                                      center: results[0].geometry.location
                                    });
                                }

                                else{
                                }
                            });

                        

                        {% endfor %}

                        }
                    </script>
                {%endif%}
            </div>
        </div>
    </div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWM4sry-Yw79gGqw_LsZWkZq6Cuwmdlgs&callback=initMap&sensor=true">
    </script>
{% endblock %}